.button {
  padding: 8px auto;
  background: rgba(200, 200, 200, 0);
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  font-family: AlegreyaSansSC-BoldItalic;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: rgba(200, 200, 200, 0);
  border: 1px solid rgba(200, 200, 200, 0.25);
}

.button--inverse {
  background: transparent;
  color: #ff0055;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff0055;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button--whatsapp {
  text-decoration: none;
  /* width: 810%; */
  color: #20f82a;
  /* background: rgb(13, 237, 143);
  background: linear-gradient(
    200deg,
    rgba(13, 237, 143, 1) 0%,
    rgba(19, 159, 41, 1) 100%
  );
  border-color: #3feb47; */
  border: 3px solid #20f82a;
}

.button--whatsapp:hover,
.button--whatsapp:active {
  text-decoration: none;
  color: white;
  background: rgb(13, 237, 143);
  background: linear-gradient(
    200deg,
    rgb(13, 182, 111) 0%,
    rgb(9, 202, 38) 100%
  );
}

.button--buyTicket {
  text-decoration: none;
  color: #20f82a;
  /* background: rgba(25, 236, 5, 0.5);  */
  /* /*
  background: linear-gradient(
    200deg,
    rgb(147, 150, 17) 0%,
    rgb(180, 108, 13) 51%,
    rgba(251, 6, 6, 1) 100%
  ); */
  border: 3px solid #20f82a;
}

.button--buyTicket:hover,
.button--buyTicket:active {
  text-decoration: none;
  color: purple;
  /* background: rgb(234, 237, 13);
  background: linear-gradient(
    200deg,
    rgb(242, 245, 68) 0%,
    rgb(180, 148, 4) 51%,
    rgb(168, 5, 5) 100%
  ); */
  border: 5px solid purple;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 0.75rem;
}

.button--float {
  text-decoration: none;
  position: fixed;
  /* width: 60px;
  height: 60px; */
  bottom: 20px;
  right: 5px;
  background-color: none;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  /* box-shadow: 2px 2px 3px #999; */
}
.image-logo {
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* width: 410%; */
}
