.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body{
  height: 100vh;
  /* width: 100vh; */
  background:#f3f4f7;
  /* background: rgb(106,3,138); */
  /* background: linear-gradient(132deg, rgb(50, 7, 63) 14%, rgb(42, 6, 92) 65%, rgb(49, 48, 44) 100%);  */
}
@font-face {
  font-family: AlegreyaSansSC-BoldItalic;
  src: url(./shared/Fonts/AlegreyaSansSC-BoldItalic.ttf);
}


